<header
  class="sticky top-0 bg-white/90 backdrop-blur border-b border-gray-100 z-50"
>
  <div class="container-ean">
    <nav class="flex items-center justify-between h-28">
      <a href="#">
        <img
          src="../../assets/logos/logo-horizontal-color.png"
          alt="EAN Business School"
          class="h-28"
        />
      </a>

      <ul class="hidden lg:flex items-center gap-10 font-medium">
        <li><a href="#">Programas</a></li>

        <li><a href="#">Faculty</a></li>

        <li><a href="#">Empresas</a></li>

        <li><a href="#">Sobre EAN</a></li>
      </ul>

      <a href="#" class="btn-primary hidden lg:inline-flex"> Aplicar </a>
    </nav>
  </div>
</header>
